.App {
  text-align: center;
}

.App-header {
  background-color: #c4820e;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  background-color: #3b7ea1;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.home-btn {
  font-size: xx-large;
  color: white;
  width: 300px;
  height: 100px;
  background-color: #003262;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}

.App-footer {
  color: white;
  min-height: 10vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
